Source: libjifty-plugin-authcasonly-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: AGOSTINI Yves <agostini@univ-metz.fr>
Standards-Version: 3.6.1

Package: libjifty-plugin-authcasonly-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libauthcas-perl
Description:  Jifty::Plugin::AuthCASOnly
 MUST BE USED WITHOUT Login PLUGIN
 .
 .
 This description was automagically extracted from the module by dh-make-perl.
