MANIFEST
MANIFEST.bak
META.yml
Makefile
Makefile.old
SIGNATURE
blib/
inc/
pm_to_blib
jiftyapp
t/*/mason*/
t/*/t/mailbox*
var/
mason*/

*.swp
\#*#
.#*

t/TestApp-Plugin-SetupWizard/etc/site_config.yml
t/TestApp-Plugin-SetupWizard/testapp_plugin_setupwizard*
