<&| /_elements/wrapper, title => "Hi", subtitle => "Welcome" &>
<table>
<tr><td>
Full: <% $region->render %>
</td><td>
Filtered: <% $region_filtered->render %>
</td></tr>
</table>
</&>
<%init>
my $region = Jifty::Web::PageRegion->new(
    name => "clock-time",
    path => '/__jifty/empty',
);
my $region_filtered = Jifty::Web::PageRegion->new(
    name => "clock-filtered",
    path => '/__jifty/empty',
);

Jifty->subs->add(
  # window_id   => 'random scope',
    class       => 'Tick',
    mode        => 'Replace',
    region      => "clock-time",
    render_with => '/fragments/time',
);

Jifty->subs->add(
  # window_id   => 'random scope',
    class       => 'Tick',
    queries     => [{ like => '9' }],
    mode        => 'Replace',
    region      => "clock-filtered",
    render_with => '/fragments/time',
);
</%init>
