Source: libjifty-plugin-login-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: AGOSTINI Yves <agostini@univ-metz.fr>
Standards-Version: 3.6.1

Package: libjifty-plugin-login-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libemail-address-perl, 
 libemail-messageid-perl, libemail-mime-modifier-perl,
 libemail-mime-encodings-perl,  libemail-mime-perl, libemail-simple-perl, 
 libemail-simple-creator-perl, libreturn-value-perl, libtime-piece-perl, 
 libemail-date-perl
Recommends: libio-all-perl, libnet-perl
Description:  Jifty::Plugin::Login
 .
 .
 Localized Login plugin for Jifty Framework.
