.crud-ui {
}

.crud-search {
}

.crud-pages {
}

.crud-paging {
}

.crud-column-headers {
}

.crud-list {
}

.crud-create {
}

.field {
    float: left;
    margin: 0.15em 0.5em 0.15em 0.15em;
    font-weight: bold;
}

.up, .down, .up_select, .down_select {
    height : 1.5em;
    float: left;
    margin-right: 0.2em;
}

.up, .up_select {
    background: url(/static/images/css/bullet_arrow_up.png) no-repeat bottom center;
    background: url(/static/images/css/bullet_arrow_up.png) no-repeat bottom center;
}

.down, .down_select {
    background: url(/static/images/css/bullet_arrow_down.png) no-repeat bottom center;
}

.up_select a, .down_select a {
    font-weight: bold;
    color: #900;
}

