div.form {
    background-color: #f6f6f6;
    padding: 0.2em;
    margin: 0 auto;
}

div.form_field {
    clear: both;
    padding-top: 0.5em;
}

.twocolumn {
    width: 49%;
    float: left;
}

div.form_field label.label, div.form_field span.label {
    float: left;
    width: 15%;
    text-align: right;
    font-size: 80%;
    padding: 0.2em 0.5em 0 0;
}

div.form_field .hints {
    width: 83%;
    font-size: 80%;
    padding-top: 0.2em;
    float: right;
    text-align: left;
    color: #999999;
}

div.form_field .error, div.form_field .warning, div.form_field .canonicalization_note {
    float: right;
    width: 88%;
    text-align: left;
}

div.form_field span.formw {
    float: right;
    width: 88%;
    text-align: left;
}

input.text, input.date, input.password, textarea, select {
    border-top: 1px solid #7c7c7c;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
    background: #fff url(/static/images/css/fieldbg.gif) repeat-x top;
    padding: 0.2em;
}

form input.ajaxautocompletes {
    background: #fff url(/static/images/css/fieldbg-autocomplete.gif) repeat-x top right;
    padding-right: 18px;
}

input.date {
    width: 10em;
}

.submit_button {
    display: block;
    clear: both;
}

.submit_button input {
    clear: both;
    margin: 0.5em 0 0 16%;
}

input.button {
    padding: 0.15em 1em;
    font-weight: bold;
}

h2.inline input {
    font-size: 115%;
}

/*
These styles are meant to be placed after (and hence override) the current CSS
for forms.  Some of the rules aren't needed if previous behavior doesn't need to
be overridden.  ".inline" is our inline form class.
*/

div.inline .submit_button
{
}

div.inline div.form_field {
    float: left;

    /* to counter previous rules */
    clear: none;

    /* aesthetic */
    margin-right: 0.5em;
}

div.inline div.form_field label.label,
div.inline div.form_field span,
div.inline .hints,
div.inline .error
{
    display: block;

    /* to counter previous rules */
    float: none;
    width: auto;
    text-align: left;
}


div.inline .hints {
    display: none;

}

div.inline div.form_field label.label {
    /* aesthetic */
    padding-bottom: 0.1em;
}


/* So the admin ui is one row per line */

.jifty_admin.item.inline {
     clear: both;
}

.jifty_admin .editlink {
    float: right;
}

.jifty_admin_header {
    display: inline;
}

.jifty_admin_header a {
    color: black;
    display: block;
    font-size: 0.6em;
    height: 100%;
    text-decoration: none;
    font-family : sans-serif;
}

div.subline {
    display: inline;
    float: left;  
}


option.selected {
    background: #dddddd;
}

input.placeholder, textarea.placeholder {
    color: #666;
}

form div.mandatory .label {
    font-weight: bold;
}

