Source: libjifty-plugin-authldaplogin-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: AGOSTINI Yves <agostini@univ-metz.fr>
Standards-Version: 3.6.1

Package: libjifty-plugin-authldaplogin-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libjifty-plugin-login-perl, 
 libnet-ldap
Description:  Jifty::Plugin::AuthLDAPLogin
 MUST BE USED WITH Login PLUGIN.
 .
 Add ldap users in Jifty::Plugin::Login::Model::User. 
 Distinct id for ldap users is email field with login@LDAP.user
 .
 This description was automagically extracted from the module by dh-make-perl.
