Source: libjifty-plugin-authldaponly-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: AGOSTINI Yves <agostini@univ-metz.fr>
Standards-Version: 3.6.1

Package: libjifty-plugin-authldaponly-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libjifty-perl, libnet-ldap-perl 
Description:  Jifty::Plugin::AuthLDAPOnly
 MUST NOT BE USED WITH Login PLUGIN
 .
 Provide authentication: only for users in your ldap.
 .
 If you need external users see Jifty::Plugin::AuthLDAPLogin
 .
 This description was automagically extracted from the module by dh-make-perl.
